<!doctype html>
<html>
   <head>
   <title>Admin</title>
   </head>
   <body>
      <h1> Welcome to admin page</h1>
         <form action="All_courses">
         <input type="submit" name = "act" value="view all courses" />
      </form>
      </br>
      </br>
      </br>
         <form action="All_surveys">
         <input type="submit" name = "act" value="view all surveys" />
      </form>
      </br>
      </br>
      </br>
         <form action="All_questions">
         <input type="submit" name = "act" value="create a survey" />
      </form>
      </br>
      </br>
      </br>
         <form action="addQuestion">
         <input type="submit" name = "act" value="add a question" />
      </form>
      </br>
      </br>
      </br>
        <form action="logout">
         <button type="submit">Log out</button>
      </form>
      
   </body>
   </html>
